<head>

{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
{{ partial "plausible.html" . }}
{{end}}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ .Summary }}">
{{ with .Site.Params.author }} <meta name="author" content="{{ . }}">{{ end }}
{{ hugo.Generator }}

{{if eq .RelPermalink "/404.html"}}
  <title>404 Az oldal nem található</title>
{{else}}
  <title>{{ .Title }}</title>
{{end}}

{{ "<!-- Mobile Specific Meta -->" | safeHTML }}
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="shortcut icon" type="image/jpg" href="{{ `images/Favicon.jpg` | absURL }}" />

{{"<!-- Stylesheets -->" | safeHTML}}
{{ "<!-- Themefisher Icon font -->" | safeHTML }}
<link rel="stylesheet" href="{{ `plugins/themefisher-font/style.css` | absURL }}">
{{ "<!-- bootstrap.min css -->" | safeHTML}}
<link rel="stylesheet" href="{{ `plugins/bootstrap/dist/css/bootstrap.min.css` | absURL }}">
{{ "<!-- Lightbox.min css -->" | safeHTML }}
<link rel="stylesheet" href="{{ `plugins/lightbox2/dist/css/lightbox.min.css` | absURL }}">
{{ "<!-- Slick Carousel -->" | safeHTML }}
<link rel="stylesheet" href="{{ `plugins/slick-carousel/slick/slick.css` | absURL }}">
<link rel="stylesheet" href="{{ `plugins/slick-carousel/slick/slick-theme.css` | absURL }}">
{{ "<!-- Main Stylesheet -->" | safeHTML }}

{{ $styles := resources.Get "css/style.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

</head>
