{{ "<!-- Plausible Analytics -->" | safeHTML }}
<script defer data-domain="winux.it" src="https://analytics.winux.it/js/plausible.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
